@model PagedList.IPagedList<EmployeeTracker.Models.Employee>
@using PagedList.Mvc
@using EmployeeTracker.Models

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- form with autocomplete and Ajax search, handled in et.js -->
<form class="form-inline" method="get" action="@Url.Action("Index")"
      data-et-ajax="true" data-et-target="#employeeList">
    <input class="form-control" type="search" name="searchString" data-et-autocomplete="@Url.Action("AutoComplete")" />
    <input class="btn btn-default" type="submit" value="Search" />
</form>

<!-- TODO: implement filter by department and move this departments query into a new ViewModel -->
@*<form class="form-inline" method="get" action="@Url.Action("Index", "Employees", new { sortOrder = ViewBag.LastNameSortParam, currentFilter = ViewBag.CurrentFilter })">
    @{
        List<Department> departments = Model.Select(x => x.Department).Distinct().OrderBy(d => d.Name).ToList();
        var selectItems = new List<SelectListItem>();
        foreach (var d in departments)
        {
            selectItems.Add(new SelectListItem { Text = d.Name, Value = d.ID.ToString() });
        }
    }
    @Html.DropDownList("departmentID", selectItems)
</form>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.FirstNameSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.DepartmentSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Job Title", "Index", new { sortOrder = ViewBag.JobTitleSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Manager", "Index", new { sortOrder = ViewBag.ManagerSortParam, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th></th>
        </tr>
    </thead>

    <!-- render list of employees -->
        @Html.Partial("EmployeeList", Model)
 
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))